# Job DataFrame Editing

***

## Imports & Stored Data

In [1]:
import pandas as pd
from py_files.data_functions import read_df, add_app, add_init_response, \
    add_interview_info, add_more_ints, add_final_response, concat_dfs, \
    add_to_json, get_app_info

%load_ext autoreload
%autoreload 2

## Input New Data

#### Get info

In [84]:
old_jobs_df = read_df()
old_jobs_df.head(3)

,company_name,date_applied,job_title,job_cat,department,location,recruiter,referral,method,url,initial_response,date_init_resp,date_interview1,interviewers,interview_notes,next_steps,next_interviews,final_outcome,feedback
0,Accenture,2023-01-04,Trainee Data - AI/Big Data Analytics/Data Mana...,Data Analyst,NaN,Germany,NaN,Niamh,referral,https://www.accenture.com/us-en/careers/jobdet...,Rejected,2023-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alexander_Thamm,2023-02-09,Junior Data Engineer,Data Analyst,NaN,Innsbruck,NaN,NaN,linkedin,https://join.com/companies/alexanderthamm/7085...,Rejected,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avid,2023-02-09,DevOps Developer,DevOps Engineer,Audio Products,Montreal (hybrid/remote),NaN,NaN,linkedin,https://avid.wd5.myworkdayjobs.com/AVID/job/Hy...,No Response,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
app = get_app_info('mc')
app

,company_name,date_applied,job_title,job_cat,department,location,recruiter,referral,method,url,initial_response,date_init_resp,date_interview1,interviewers,interview_notes,next_steps,next_interviews,final_outcome,feedback
10,McKinsey_Co,2023-02-09,Junior Analytics Associate,Data Analyst,McKinsey Digital,Oslo,NaN,NaN,linkedin,https://www.mckinsey.com/careers/search-jobs/j...,No Response,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# new_df = pd.concat([old_df.loc[[0]], old_df.loc[2:]], ignore_index=True)
# new_df
# add_to_json(new_df)

### Apps

In [18]:
# add_app('company_name', 'date_applied', 'job_title',
    #    'job_cat', 'department', 'location', 'recruiter',
    #    'referral', 'method', 'url')

### Responses

In [95]:
# add_init_response('company_name_like', 'Passed', 'date_init_resp', 
                #   'date_interview1', 'interviewers')
# add_init_response('company_name_like', 'Rejected', 'date_init_resp')

add_init_response('mc', 'Rejected', '2023-02-22')

new data added sucessfully to /Users/Emily/code/emilycardwell/my-jobs/data/job_data03_03.json

,company_name,date_applied,job_title,job_cat,department,location,recruiter,referral,method,url,initial_response,date_init_resp,date_interview1,interviewers,interview_notes,next_steps,next_interviews,final_outcome,feedback
10,McKinsey_Co,2023-02-09,Junior Analytics Associate,Data Analyst,McKinsey Digital,Oslo,NaN,NaN,linkedin,https://www.mckinsey.com/careers/search-jobs/j...,Rejected,2023-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Interview Info

In [11]:
# add_interview_info('company_name_like', 'interview_notes', 'next_steps')

In [12]:
# add_more_ints('company_name_like', 'next_interviews')

### Final Outcomes

In [13]:
# add_final_response('company_name_like', 'final_outcome', 'feedback')