# Job DataFrame Editing

***

## Imports & Stored Data

In [1]:
import pandas as pd
import datetime as dt
from py_files.data_functions import read_df, get_app_info, \
    add_app, add_init_response, add_more_ints, add_final_outcome, \
    add_to_json, edit_df


%load_ext autoreload
%autoreload 2

## Input New Data

#### Get info

In [16]:
old_jobs_df = read_df()
old_jobs_df.job_cat.unique()

array(['Data Analyst', 'Data Engineer', 'DevOps Engineer',
       'Backend Engineer', 'Audio Engineer', 'Python Engineer', 'IT',
       'ML Engineer', 'Customer Support', 'QA Engineer', 'Cloud Engineer',
       'C++ Engineer', 'Testing Engineer', 'Technical Writer'],
      dtype=object)

In [21]:
today = dt.date.today().strftime('%Y-%m-%d')
jobs_today = old_jobs_df[old_jobs_df['date_applied'] == today]
print("jobs applied to today:", len(jobs_today))
# jobs_today

jobs applied to today: 5

In [19]:
app = get_app_info('company_name_like')
app

Empty DataFrame
Columns: [date_applied, company_name, job_title, job_cat, department, location, recruiter, referral, method, url, date_init_resp, initial_response, date_interview1, interview1_details, date_interview2, interview2_details, date_interview3, interview3_details, final_outcome, feedback]
Index: []

### Apps

In [25]:
# add_app('date_applied', 'company_name', 'job_title',
#         'job_cat', 'department', 'location', 'recruiter',
#         'referral', 'method', 'url')

### Responses

In [17]:
# add_init_response('company_name_like', 'date_init_resp', 'Passed', 
                #   'date_interview1', 'interview1_details')
# add_init_response('company_name_like', 'date_init_resp', 'Rejected')

### More Interviews

In [4]:
# add_more_ints('company_name_like', 'interview_no', 'date_interview', 'interview_details')

### Final Outcomes

In [5]:
# add_final_outcome('company_name_like', 'final_outcome', 'feedback')

## Editing

### Editing jobs df

In [15]:
# df_to_edit = read_df(file_name='jobs')
# df_to_edit[df_to_edit['url'] == 'url']

In [14]:
# edit_df('column', 'new_info', 'company_name_like')

### Editing other dfs

In [26]:
df_to_edit = read_df(file_name='work')
df_to_edit.tail(10)

                job                   category date_of_job
123         my-jobs  Data Engineering/Analysis  2023-05-09
124         my-jobs  Data Engineering/Analysis  2023-05-11
125  chord-cleaning           Data Engineering  2023-05-12
126  chord-cleaning           Data Engineering  2023-05-12
127            Jobs                   Research  2023-05-13
128            Jobs                   Research  2023-05-13
129  chord-cleaning       Software Engineering  2023-05-15
130         my-jobs  Data Engineering/Analysis  2023-05-15
131            Jobs                   Research  2023-05-22
132  chord-cleaning       Software Engineering  2023-05-22

In [ ]:
# edit_df('column', 'new_info', index=0, file_name='work')
# edit_df('column', 'new_info', index=0, file_name='prep')

In [28]:
edit_df('category', 'Data Engineering', idx=132, file_name='work')

TypeError: can only compare 'DataFrame' (not 'str') with 'DataFrame'