# Prep & Code DataFrame Editing

***

### Imports

In [1]:
from py_files.data_functions import read_df
import os
import requests
import pandas as pd
import json

## Get Data From Online Coding Sites

### Codewars

In [2]:
username = os.getenv('USERNAME')
page = 0
url = f"https://www.codewars.com/api/v1/users/{username}/code-challenges/completed?page={page}"

In [3]:
response = requests.get(url).json()
data = response['data']

In [4]:
codewars_df = pd.DataFrame(data)
codewars_df.head(3)

,id,name,slug,completedLanguages,completedAt
0,526156943dfe7ce06200063e,My smallest code interpreter (aka Brainf**k),my-smallest-code-interpreter-aka-brainf-star-s...,[python],2023-01-30T01:48:32.158Z
1,51c8e37cee245da6b40000bd,Strip Comments,strip-comments,[python],2023-01-29T19:07:26.328Z
2,52597aa56021e91c93000cb0,Moving Zeros To The End,moving-zeros-to-the-end,[python],2023-01-11T18:26:28.450Z

In [5]:
codewars_dates = codewars_df.loc[:, ['id','completedAt']]
codewars_dates.head(3)

                         id               completedAt
0  526156943dfe7ce06200063e  2023-01-30T01:48:32.158Z
1  51c8e37cee245da6b40000bd  2023-01-29T19:07:26.328Z
2  52597aa56021e91c93000cb0  2023-01-11T18:26:28.450Z

In [6]:
dates = [pd.to_datetime(x) for x in codewars_dates['completedAt']]
form_dates = [x.strftime('%Y-%m-%d') for x in dates]
        
codewars_dates.loc[:, 'completedAt'] = form_dates
codewars_dates
codewars_dates = codewars_dates[codewars_dates['completedAt'] > '2022-12-31']
codewars_dates.insert(0, 'site', ['code_wars']*len(codewars_dates))
final_df = codewars_dates.rename(columns={'completedAt': 'date_completed'})
final_df

        site                        id date_completed
0  code_wars  526156943dfe7ce06200063e     2023-01-30
1  code_wars  51c8e37cee245da6b40000bd     2023-01-29
2  code_wars  52597aa56021e91c93000cb0     2023-01-11
3  code_wars  520b9d2ad5c005041100000f     2023-01-11
4  code_wars  514b92a657cdc65150000006     2023-01-11
5  code_wars  5526fc09a1bbd946250002dc     2023-01-11
6  code_wars  5aa7a581fd8c06b552000177     2023-01-11

## Write to DF

In [7]:
data_path = os.getenv('DATA_PATH')
filename = data_path + '/prep_and_coding.json'
result = final_df.to_json(orient='table')
parsed = json.loads(result)

with open(filename, "w") as jsonFile:
    json.dump(parsed, jsonFile, indent=4)
    print(f'new data added sucessfully to {filename}')

prep_df = pd.read_json(filename, orient='table')
prep_df

new data added sucessfully to /Users/Emily/code/emilycardwell/my-jobs/data/prep_and_coding.json

        site                        id date_completed
0  code_wars  526156943dfe7ce06200063e     2023-01-30
1  code_wars  51c8e37cee245da6b40000bd     2023-01-29
2  code_wars  52597aa56021e91c93000cb0     2023-01-11
3  code_wars  520b9d2ad5c005041100000f     2023-01-11
4  code_wars  514b92a657cdc65150000006     2023-01-11
5  code_wars  5526fc09a1bbd946250002dc     2023-01-11
6  code_wars  5aa7a581fd8c06b552000177     2023-01-11