# Work DF Editing

In [ ]:
import pandas as pd
from py_files.data_functions import add_work, read_df, add_to_json, edit_df
from py_files.get_df_functions import get_timeline_df
import datetime

%load_ext autoreload
%autoreload 2

## Show DF

In [ ]:
old_df = read_df('work')
old_df.tail(10) 
# old_df.category.unique()

## Create rows

### Today

In [ ]:
# # work_cols = ['job', 'category']
# new_data = ['My Website', 'Web Development']
# new_data

In [ ]:
# new_df = add_work(new_data)
# new_df

### Other Dates

In [ ]:
# start_date = datetime.date(2023, 2, 16)
# end_date = datetime.date(2023, 2, 25)
# delta = datetime.timedelta(days=1)

# dates_list = []
# while start_date <= end_date:
#     dates_list.append(start_date.strftime("%Y-%m-%d"))
#     start_date += delta

# weekdays = []
# weekends = [2, 3]
# i = 0
# for d in dates_list:
#     if i in weekends:
#         i += 1
#         pass
#     else:
#         weekdays.append(d)
#         i += 1
    
# weekdays

In [ ]:
# date = '2023-05-29'

In [ ]:
# # work_cols = ['job', 'category']
# new_data = ['Jobs', 'Research']

In [ ]:
# new_df = add_work(new_data, date)

## Editing Values

In [13]:
df_to_edit = read_df(folder_name='work')
df_to_edit.tail(10)

            job                   category        date
137     my-jobs  Data Engineering/Analysis  2023-05-25
138     my-jobs  Data Engineering/Analysis  2023-05-25
139        Jobs                   Research  2023-05-29
140        Jobs                   Research  2023-05-29
141        Jobs                   Research  2023-05-31
142        Jobs                   Research  2023-06-01
143  My Website            Web Development  2023-06-10
144        Jobs                   Research  2023-06-10
145        Jobs                   Research  2023-06-11
146  My Website            Web Development  2023-06-11

In [12]:
edit_df('date', '2023-06-11', idx=145, folder_name='work')
# edit_df('column', 'new_info', index=0, folder_name='prep')

The latest file is: work9.json
new data added sucessfully to /Users/Emily/code/emilycardwell/my-jobs/data/work/work10.json

job                        Jobs
category               Research
date        2023-06-11 00:00:00
Name: 145, dtype: object

Empty DataFrame
Columns: []
Index: []

## Other Editing

In [ ]:
# tl_df = get_timeline_df()
# old_df = read_df('work')

In [ ]:
# tl_df.tail(5)

In [ ]:
# old_df.tail(10)

In [ ]:
# # new_df = old_df.copy()
# concat_df = pd.concat([new_df, new_df.iloc[[112]], new_df.iloc[[112]], new_df.iloc[[114]]])
# reset_df = concat_df.sort_values('date_of_job').reset_index(drop=True)
# reset_df.tail(10)

In [ ]:
# # new_df = old_df.copy()
# reset_df.loc[112, 'date_of_job'] = '2023-02-27'
# reset_df.tail(10)

In [ ]:
# add_to_json(reset_df, idx=None, comp_name=None, date_comp=None, file_name='work')