# Work DF Editing

In [3]:
import pandas as pd
from py_files.data_functions import add_work, read_df
import datetime

%load_ext autoreload
%autoreload 2

## Show DF

In [6]:
old_df = read_df('work')
old_df

                  job             category date_of_job
0         RLL Website      Web Development  2023-03-13
1         RLL Website      Web Development  2023-03-13
2         RLL Website      Web Development  2023-03-14
3         RLL Website      Web Development  2023-03-14
4         RLL Website      Web Development  2023-03-15
..                ...                  ...         ...
58  Book Club API/APP  Data Science/Webdev  2023-04-24
59  Book Club API/APP  Data Science/Webdev  2023-04-24
60  Book Club API/APP  Data Science/Webdev  2023-04-25
61  Book Club API/APP  Data Science/Webdev  2023-04-26
62  Book Club API/APP  Data Science/Webdev  2023-04-26

[63 rows x 3 columns]

## Create rows

In [2]:
# start_date = datetime.date(2023, 4, 24)
# end_date = datetime.date(2023, 4, 26)
# delta = datetime.timedelta(days=1)

# dates_list = []
# while start_date <= end_date:
#     dates_list.append(start_date.strftime("%Y-%m-%d"))
#     start_date += delta

# weekdays = []
# weekends = [5, 6, 12, 13, 19, 20]
# i = 0
# for d in dates_list:
#     if i in weekends:
#         i += 1
#         pass
#     else:
#         weekdays.append(d)
#         i += 1
    
# weekdays

In [3]:
# work_cols = ['job', 'category', 'date']
# new_data = []
# for d in dates_list:
#     new_data.append(['job', 'category', d])
# new_data

In [31]:
# new_df = add_work(new_data)