# Work DF Editing

In [1]:
import pandas as pd
from py_files.data_functions import add_work, read_df, add_to_json
from py_files.get_df_functions import get_timeline_df
import datetime

%load_ext autoreload
%autoreload 2

## Show DF

In [33]:
# old_df = read_df('work')
# old_df.tail(10)

## Create rows

In [14]:
# start_date = datetime.date(2023, 2, 16)
# end_date = datetime.date(2023, 2, 25)
# delta = datetime.timedelta(days=1)

# dates_list = []
# while start_date <= end_date:
#     dates_list.append(start_date.strftime("%Y-%m-%d"))
#     start_date += delta

# weekdays = []
# weekends = [2, 3]
# i = 0
# for d in dates_list:
#     if i in weekends:
#         i += 1
#         pass
#     else:
#         weekdays.append(d)
#         i += 1
    
# weekdays

In [61]:
# dates_list = ['2023-05-02']

In [66]:
# # work_cols = ['job', 'category', 'date_of_job']
# new_data = []
# for d in dates_list:
#     new_data.append(['job', 'cat', d])
# new_data

In [67]:
# new_df = add_work(new_data)

## Other Editing

In [65]:
tl_df = get_timeline_df()
old_df = read_df('work1')

In [66]:
# tl_df[15:30]

In [68]:
old_df[20:40]

                  job                  category date_of_job
20  Book Club API/APP       Data Science/Webdev  2023-02-13
21  Book Club API/APP       Data Science/Webdev  2023-02-13
22            my-jobs  Date Engineerin/Analysis  2023-02-14
23            my-jobs  Date Engineerin/Analysis  2023-02-14
24        SQL/Airflow          Data Engineering  2023-02-15
25            my-jobs  Date Engineerin/Analysis  2023-02-16
26            my-jobs  Date Engineerin/Analysis  2023-02-17
27            my-jobs  Date Engineerin/Analysis  2023-02-20
28            my-jobs  Date Engineerin/Analysis  2023-02-22
29            my-jobs  Date Engineerin/Analysis  2023-02-23
30            my-jobs  Date Engineerin/Analysis  2023-02-24
31            my-jobs  Date Engineerin/Analysis  2023-02-26
32            my-jobs  Date Engineerin/Analysis  2023-03-03
33            my-jobs  Date Engineerin/Analysis  2023-03-06
34            my-jobs  Date Engineerin/Analysis  2023-03-07
35            my-jobs  Date Engineerin/Analysis  2023-03-08
36            my-jobs  Date Engineerin/Analysis  2023-03-10
37        RLL Website           Web Development  2023-03-13
38        RLL Website           Web Development  2023-03-13
39        RLL Website           Web Development  2023-03-14

In [50]:
# new_df = old_df.copy()
# new_df.loc[11, 'date_of_job'] = '2023-02-04'
# new_df[10:20]

In [70]:
new_df = old_df.copy()
concat_df = pd.concat([new_df, new_df.iloc[24:32], new_df.iloc[[35]]])
reset_df = concat_df.sort_values('date_of_job').reset_index(drop=True)
reset_df[20:50]

                  job                  category date_of_job
20  Book Club API/APP       Data Science/Webdev  2023-02-13
21  Book Club API/APP       Data Science/Webdev  2023-02-13
22            my-jobs  Date Engineerin/Analysis  2023-02-14
23            my-jobs  Date Engineerin/Analysis  2023-02-14
24        SQL/Airflow          Data Engineering  2023-02-15
25        SQL/Airflow          Data Engineering  2023-02-15
26            my-jobs  Date Engineerin/Analysis  2023-02-16
27            my-jobs  Date Engineerin/Analysis  2023-02-16
28            my-jobs  Date Engineerin/Analysis  2023-02-17
29            my-jobs  Date Engineerin/Analysis  2023-02-17
30            my-jobs  Date Engineerin/Analysis  2023-02-20
31            my-jobs  Date Engineerin/Analysis  2023-02-20
32            my-jobs  Date Engineerin/Analysis  2023-02-22
33            my-jobs  Date Engineerin/Analysis  2023-02-22
34            my-jobs  Date Engineerin/Analysis  2023-02-23
35            my-jobs  Date Engineerin/Analysis  2023-02-23
36            my-jobs  Date Engineerin/Analysis  2023-02-24
37            my-jobs  Date Engineerin/Analysis  2023-02-24
38            my-jobs  Date Engineerin/Analysis  2023-02-26
39            my-jobs  Date Engineerin/Analysis  2023-02-26
40            my-jobs  Date Engineerin/Analysis  2023-03-03
41            my-jobs  Date Engineerin/Analysis  2023-03-06
42            my-jobs  Date Engineerin/Analysis  2023-03-07
43            my-jobs  Date Engineerin/Analysis  2023-03-08
44            my-jobs  Date Engineerin/Analysis  2023-03-08
45            my-jobs  Date Engineerin/Analysis  2023-03-10
46        RLL Website           Web Development  2023-03-13
47        RLL Website           Web Development  2023-03-13
48        RLL Website           Web Development  2023-03-14
49        RLL Website           Web Development  2023-03-14

In [71]:
add_to_json(reset_df, idx=None, comp_name=None, date_comp=None, file_name='work1')

new data added sucessfully to /Users/Emily/code/emilycardwell/my-jobs/data/work1_new.json
file renamed:  /Users/Emily/code/emilycardwell/my-jobs/data/work1.json

                         job                  category date_of_job
0    Data Science Notes Repo              Data Science  2023-01-02
1            Chords Cleaning          Data Engineering  2023-01-09
2                    my-jobs  Date Engineerin/Analysis  2023-01-09
3                    my-jobs  Date Engineerin/Analysis  2023-01-10
4                    my-jobs  Date Engineerin/Analysis  2023-01-10
..                       ...                       ...         ...
110        Book Club API/APP       Data Science/Webdev  2023-04-26
111                  my-jobs  Date Engineerin/Analysis  2023-04-27
112               My Website           Web Development  2023-04-28
113               My Website           Web Development  2023-04-30
114          Chords Cleaning          Data Engineering  2023-05-02

[115 rows x 3 columns]