# Work DF Editing

In [2]:
import pandas as pd
from py_files.data_functions import add_work, read_df, add_to_json
from py_files.get_df_functions import get_timeline_df
import datetime

%load_ext autoreload
%autoreload 2

## Show DF

In [4]:
old_df = read_df('work')
old_df.tail(10)
# old_df.category.unique()

                job                   category date_of_job
121  chord-cleaning           Data Engineering  2023-05-08
122  chord-cleaning           Data Engineering  2023-05-08
123         my-jobs  Data Engineering/Analysis  2023-05-09
124         my-jobs  Data Engineering/Analysis  2023-05-11
125  chord-cleaning           Data Engineering  2023-05-12
126  chord-cleaning           Data Engineering  2023-05-12
127            Jobs                   Research  2023-05-13
128            Jobs                   Research  2023-05-13
129         my-jobs  Data Engineering/Analysis  2023-05-15
130  chord-cleaning       Software Engineering  2023-05-15

## Create rows

In [14]:
# start_date = datetime.date(2023, 2, 16)
# end_date = datetime.date(2023, 2, 25)
# delta = datetime.timedelta(days=1)

# dates_list = []
# while start_date <= end_date:
#     dates_list.append(start_date.strftime("%Y-%m-%d"))
#     start_date += delta

# weekdays = []
# weekends = [2, 3]
# i = 0
# for d in dates_list:
#     if i in weekends:
#         i += 1
#         pass
#     else:
#         weekdays.append(d)
#         i += 1
    
# weekdays

In [1]:
dates_list = ['2023-05-22']

In [5]:
# work_cols = ['job', 'category', 'date_of_job']
new_data = []
for d in dates_list:
    new_data.append(['Jobs', 'Research', d])
new_data

[['Jobs', 'Research', '2023-05-22']]

In [6]:
new_df = add_work(new_data)

new data added sucessfully to /Users/Emily/code/emilycardwell/my-jobs/data/work_new.json
file renamed:  /Users/Emily/code/emilycardwell/my-jobs/data/work.json
<class 'pandas.core.frame.DataFrame'>
Index: 132 entries, 0 to 131
Columns: 3 entries, job to date_of_job
dtypes: object(3)
memory usage: 4.1+ KB

## Other Editing

In [100]:
# tl_df = get_timeline_df()
# old_df = read_df('work')

In [99]:
# tl_df.tail(5)

In [98]:
# old_df.tail(10)

In [97]:
# # new_df = old_df.copy()
# concat_df = pd.concat([new_df, new_df.iloc[[112]], new_df.iloc[[112]], new_df.iloc[[114]]])
# reset_df = concat_df.sort_values('date_of_job').reset_index(drop=True)
# reset_df.tail(10)

In [96]:
# # new_df = old_df.copy()
# reset_df.loc[112, 'date_of_job'] = '2023-02-27'
# reset_df.tail(10)

In [95]:
# add_to_json(reset_df, idx=None, comp_name=None, date_comp=None, file_name='work')